* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  border: 1px solid orange;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card-image {
  height: 300px;
  background-color: orange;
}

.card-detail {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .card {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
}
